@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MyMoney</h1>
    <p class="lead">Your One Stop Shop For Your Personal Finances.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Spendings</h2>
    </div>
    <div class="col-md-4">
        <h2>Savings</h2>
    </div>
    <div class="col-md-4">
        <h2>Goals</h2>
    </div>
</div>